
body {
    color: black;
    background-color: white;
  
}

h1{
    color:#FC03E8;
    font-family: 'papyrus';
    background-color: black;
}

section {
    display: flex;
    align-items: flex-start;
    width: 1000px;
}

.image{
    display: flex;
    order: 1;
    
 }

.introduction{
    font-family: 'bradley hand';
    color: #72A180;
    background-color: black;
    display: flex;
    order: 2;
    padding: 20px;
    
    
}

h2{
    color: #24B7B5;
    font-family: 'luminari';
}

h3{
    font-family: 'courier';
    color: #120b6a;
}

table {
    font-family: 'Baskerville';
    background-color: black;
}
table th{ 
    color: #8169C3;
}
table td{
    color: #d6e40e;
}

ul{
    color: #f20000df;
    font-family: 'andale mono';
}

a:link{
    color: white;
    font-family: 'comic sans ms';
    background-color: #194F71;
}



